/*  font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif; 
    font-family: 'Lobster', cursive;*/


/* Style Sheet */


body {
    margin: 0;
    padding: 0;
}

/* Header Section */
#header-part {
    background-image: url("images/header-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 180px 0;
    position: relative;
}
#header-part:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:  linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%); 
}

.header-text {
    text-align: center;
    position: relative;
    z-index: 100;
}

.header-text h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 78.66px;
    padding: 0px 100px;
    margin: 0;
    color: #ffffff;
}

.header-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 20px 150px;
    color: #ffffff;
}

.button-link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #FF5959;
    background: #FF5959;
    padding: 14px 22px;
    border-radius: 10px;
}
/* Header Section */

/* Bestow Section */
#bestow-section {
    padding: 140px 0px;
}
.bestow-text {
    text-align: center;
}

.bestow-text h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 54.46px;
    color: #121212;
    margin: 0;
}

.bestow-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px; 
    padding: 10px 0;
}

.bestow-amount {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    
}

.bestow-amount h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36.31px; 
    color: #707070;
    padding: 50px 22px;
    background-color: #FAFAFA;
    margin-left: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.bestow-amount .extra {
   border: 2px solid #FF5959;
   background-color: #FFEEEE; 
}

.bestow-send {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    
}

.bestow-send input {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 50%;
    outline: none;
    border: none;
    border-bottom: 2px solid #DADADA;
    text-align: center;
    font-size: 18px;
    color: #B3B3B3;
    display: block;
    margin: auto;
}
.bestow-send a{
    display: inline-block;
    margin: 20px;
    text-align: center;
}
/* Bestow Section */

/* Bestow Section Plan */
#bestow-plan-section {
    padding-bottom: 130px;
}
.plan-section-text{ 
    width: 70%;
    margin: auto;
    text-align: center;
}

.plan-section-text h2 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    color : #121212;
}

.plan-section-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 0 100px;
    
}
.plan-section-card {
    width: 80%;
    margin: auto;
    padding-top: 55px;
    display: flex;
     
}

.plan-section-item {
    text-align: left;
    margin-left: 2%;
    padding: 60px 30px;
    border-radius: 10px;
}

.plan-section-item h3{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color :#121212;
}

.plan-section-item p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
  
}   

.plan-section-card .item-1{
  background-color: rgba(237, 241, 242, 0.763);
}

.plan-section-card .item-2{
    background-color: rgba(183, 232, 245, 0.479);
}

.plan-section-card .item-3{
    background-color: rgba(245, 222, 179, 0.457);
  }
/* Bestow Section Plan */

/* Live Donation Part */
#live-donation-part {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    padding-bottom: 130px;
}
.live-donation-text {
    width: 40%;
    margin: auto;
    text-align: left;
}

.live-donation-text h2 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    color : #121212; 
    text-align: left;  
}

.live-donation-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: justify; 
    color: #707070;
    padding-bottom: 30px;
    margin: 0;
}

.live-donation-img {
    width: 45%;
    margin: auto;
    width: 550px;
    height: auto;
   
}

.live-donation-img img {
    border-radius: 20px;
    margin-left:2.5%;
    margin-right: 2.5%;
}
/* Live Donation Part */

/* Subscribe Section */
#subscribtion-part{
    padding-bottom: 130px;
}
.text-subscribtion {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}
.text-subscribtion h2 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    color : #121212;
}
.text-subscribtion p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center; 
    color: #707070;
  
}
.subscibe-area {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 100px 30px;
    background: #FFF4D6;

}
.subscibe-area .type-1 {
    width: 40%;
    padding: 13px 25px;
    border: none;
    outline: none;
    background-color: #ddd6d6cb;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.subscibe-area .type-2 {
    padding: 13px 25px;
    border: none;
    outline: none;
    background-color: #FF5959;;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FAFAFA;  
}
/* Subscribe Section */

/* Footer Section */
    #footer-section {
        background: #121212;
        padding: 30px 0px;
    }

    .footer-text h2 {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    line-height: 44px;
    color: #FF5959;
    text-align: center;
   }
   .footer-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center; 
    color: #707070;
   }
/* Footer Section */